.aside
  position: sticky
  top: 0
  display: inline-block
  float: inline-start
  height: 100vh
  z-index: 2
  width: 0 // Prevents aside from pushing content

.nav
  width: 100px
  height: 100%
  background-color: #1e1e1e

  ul
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    gap: 18%
    align-items: center
    font-family: "IBM Plex Mono", monospace
    font-size: 1.4rem
    text-transform: uppercase
