@use "styles/colors" as *

.container

  margin: 10px 0

  li
    display: grid
    grid-template-columns: 1fr 1fr
    width: 100%
    align-items: center
  p
    grid-column: 2 / 3
    padding: 0 2em

.iso
  $img-size: 30rem
  width: $img-size
  height: $img-size
  justify-self: center

.description
  color: $sq-white
  font-size: 2em
