@use 'styles/mixins' as *
@use 'styles/colors' as *

.container
  display: grid
  grid-auto-columns: min-content
  margin: 2rem 3rem
  aspect-ratio: 1 / 1
  width: 50%

.img
  padding: 0.8em
  position: relative
  width: 200px
  height: 200px

.name
  font-family: 'Raleway', sans-serif
  color: $sq-white
  font-size: 2rem
  font-weight: 500
  align-items: flex-start
  width: 100%
  text-align: center

  div
    color: $sq-gray
    font-weight: 300

.bio
  color: var(--sq-white)
  font-family: 'IBM Plex Mono' monospace
  flex-grow: 1
  font-size: 1.8rem
  margin: 2em 1em

@include lg-max

  .container
    align-items: center

  .header
    justify-content: center
    flex-direction: column
    align-items: center
    flex-wrap: nowrap

  .name
    align-items: center
    margin: 0.4em 0 0 0

    & h1, & h2
      margin: 0

  .info
    min-width: 50%
    align-self: center
    margin: 0

    p
      display: none
