.container
  display: grid
  grid-template-columns: auto auto 20rem
  grid-template-rows: 1
  justify-content: flex-start
  align-content: flex-start

.img
  width: fit-content
  padding: 0.8em

.left
  display: grid
  grid-template-columns: 65% auto
  font-family: 'Work Sans', sans-serif
  align-items: center
  justify-content: space-between
  width: 100%

  h1
    color: var(--sq-white)
    font-size: 4.5rem
    font-weight: lighter
    text-transform: capitalize
    font-family: Raleway, sans-serif
    margin: 0.4em 0 0em 0.4em
    // width: fit-content

  h2
    color: var(--sq-gold)
    font-size: 5rem
    text-transform: uppercase
    font-weight: 400
    margin-left: 0.4em
    position: relative
    // width: min-content

  h3
    color: var(--sq-gray)
    font-style: italic
    font-size: 2rem
    position: relative
    text-align: center
    margin-left: 0.4em

    &::before
      content: ''
      width: 100%
      height: 4px
      background-color: var(--sq-white)
      position: absolute
      display: block
      margin-left: 0.4em
      z-index: -2
      top: 50%

    // &::after
    //   content: ''
    //   width: 100px
    //   display: block
    //   height: 10px
    //   z-index: -1
    //   background-color: var(--sq-black)
    //   position: absolute
    //   top: 50%
    //   left: 50%
    //   transform: translateX(-50%)

  p
    color: var(--sq-white)
    font-family: 'IBM Plex Mono' monospace
    flex-grow: 1
    font-size: 1.5rem

.right
  // flex-grow: 1
  margin: 20px 2em
  align-self: flex-start

  h3
    text-align: center

  p
    text-align: left
    padding: 0 1em
