@use "styles/mixins" as *
.fields
  font-size: 1.25rem
  font-family: 'IBM Plex Mono', monospace
  text-align: center
  display: flex
  width: 100%
  justify-content: space-around
  align-content: center

  li
    padding: 1em

  h2
    color: var(--sq-gray)
    font-weight: 400

  p
    color: var(--sq-gold)
    font-size: 2rem
    font-weight: bold

@include md-max
  .fields
    flex-direction: column
