@use "styles/colors" as *
.container
  color: $sq-white

  h1
    font-size: clamp(2vw, 3.5rem, 10vw)
    padding: 0.25em 0.5em
    text-align: center
    margin: 0 auto 1rem auto
    line-height: 1.2em

.children
  max-width: 50rem
  margin: 0 auto
  padding: 0px 2.8rem

  p
    font-size: var(--fs-md)
    color: #c2c2c2
    margin: 0 1.4rem
