@use "styles/colors" as *

.container
  background-color: #090909
  margin-top: 20px
  color: $sq-white
  font-family: "IBM Plex Mono", monospace

  h2
    text-align: center
    font-size: 2rem
    padding: 20px 10px

  ul
    font-size: 1.75rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  li
    padding: 8px 5px
