@use "styles/colors" as *
@use "styles/mixins" as *

.container
  height: 100%

  & > main
    padding-top: 50px
    padding-bottom: 100px

@include sm-max
  .container
    margin-top: 3rem

.content
  top: 0

.hero
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr 1fr
  color: $sq_white
  padding-top: 3rem

  h1
    font-family: "Raleway", sans-serif
    font-size: var(--fs-heading)
    font-weight: 300
    text-transform: uppercase
    letter-spacing: 0.2rem
    line-height: 1
    align-self: flex-end
    width: fit-content
    text-align: right
    justify-self: end
    color: var(--sq-gold)

  p
    font-size: 2.2rem
    margin: .5em 0
    color: var(--sq-white)
    justify-self: center
    text-align: right

.iso_truck
  $img-size: 40vw

  padding: 10px
  display: block
  width: $img-size
  min-width: 325px
  max-width: 45rem
  height: auto
  grid-column: 2
  grid-row: 1 / 3
  justify-self: center
  align-self: center

@include lg-max
  .hero
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    h1
      text-align: center
      width: auto
      align-self: auto

    p
      text-align: left

.events
  width: 80%
  margin: 0 auto

  ul
    list-style: none
    display: flex
    flex-direction: column
    gap: 30px
    width: 100%

    -ms-overflow-style: none
    scrollbar-width: none

  &::-webkit-scrollbar
    display: none

.team
  width: 80%
  margin: 0 auto
  transition: 1s ease

  ul
    list-style: none
    display: flex
    flex-direction: column
    gap: 30px

.network
  max-width: 80%
  margin: 0 auto
  display: grid
  grid-template-columns: 2fr 1fr

  @media (max-width: 50em)
    display: flex
    flex-direction: column
    align-items: center
    gap: 50px

    & form
      margin: 0

  form
    grid-column: 1

  & > div
    grid-column: 2
    align-self: center
    justify-self: center

    & > div
      width: 15vw
      height: auto

.contact, .newsletter
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 15px
  margin-right: 10%
  margin: 3em 10% 3em 0
  color: $sq-white

  // Specific input locations

  #firstname
    grid-column: 1
    grid-row: 1

  #lastname
    grid-column: 2
    grid-row: 1

  #email
    grid-column: 1
    grid-row: 2

  #phone
    grid-column: 2
    grid-row: 2

  #subject
    grid-column: 1 / 3
    grid-row: 3

  #message
    grid-column: span 2

  button
    background: none
    color: $sq-white
    border: none
    text-align: left
    font-family: "IBM Plex Mono", Consolas, Menlo, Monaco, monospace
    display: flex
    align-items: center
    font-size: 1.6em
    cursor: pointer
    width: fit-content

    &:hover
      .send_button
        transform: translateX(10px)

    & > div
      transition: 0.2s ease 0.1s
      margin-left: 10px

.form_row
  font-size: 2rem
  input, label, textarea
    display: block
    width: 100%

  label
    margin-bottom: 8px
    font-size: 0.6em
    font-family: "IBM Plex Mono", monospace
    color: $sq-gray

  textarea
    resize: none
    column-gap: normal

  input, textarea
    font-family: "IBM Plex Mono", monospace
    color: $sq-white
    background-color: transparent
    border: none
    border-bottom: 2px solid #4a4a4a
    line-height: 1.5em
    padding: 2px 5px
    transition-timing-function: ease-out
    transition-duration: 0.35s
    font-size: 0.8em
    border-radius: 6px 6px 0 0

    &:focus
      outline: none
      border-bottom: 2px solid $sq-white

.wheel_iso
  min-width: 124px
  width: clamp(124px, 20vw, 225px)

.cta
  @include sub-header
  margin: 1em 0 !important
  padding: 0.5em 0em
  width: fit-content
  text-align: center

.newsletter
  grid-template-columns: none
  align-content: center
  width: 90%

  #email
    grid-row: 1
    width: 100%

.button_container
  width: 100%
  text-align: center
  padding: 0.8em 0.2em
  margin: 4em 0.5em
