@use "styles/colors" as *

.container
  max-width: 90%
  margin: 0 auto

.hero
  display: flex
  justify-content: space-between
  align-items: center
.content
  color: $sq_white
  display: flex
  flex-direction: column

  h1
    font-family: "Raleway", sans-serif
    font-size: clamp(40px, 6vw, 130px)
    font-weight: 300
    text-transform: uppercase
    letter-spacing: 0.2rem
    line-height: 1

    span
      position: relative
      display: block

      &:first-child
        text-align: right

  h2
    font-family: "IBM Plex Mono", monospace
    color: $sq-gray
    text-transform: lowercase
    font-size: 18px
  p
    font-size: 2.25rem
    padding: 0 .5em 0 0
    margin: .5em 0
    color: $sq-gray
    max-width: 25em

.iso_truck
  $img-size: 40%
  margin: 0 auto
  display: block
  width: $img-size
  height: $img-size
